<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 注意:默认的html meta标签没有结束符,需要手动添加,否则会报错 -->
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
      <h3>hello <span shiro:principal=""></span>!</h3>
      <a th:href="@{/logout}">退出</a>
      <h2>权限列表</h2>
      <p shiro:authenticated="">用户已经登录显示此内容<br/></p><br/>
      <p shiro:hasRole="manager">manager角色登录显示此内容<br/></p>
      <p shiro:hasRole="admin">admin角色登录显示此内容<br/></p>
      <p shiro:hasRole="normal">normal角色登录显示此内容<br/></p><br/>
      <p shiro:hasAnyRoles="manager,admin">manager or admin 角色用户登录显示此内容<br/></p><br/>
      <p shiro:principal=""/>-显示当前登录用户名<br/><br/>
      <p shiro:hasPermission="add">add权限用户显示此内容<br/></p>
      <p shiro:hasPermission="user:query">user:query权限用户显示此内容<br/></p>
      <p shiro:lacksPermission="user:query">不具有user:query权限的用户显示此内容 <br/></p>
</body>
</html>